.vscode/**
.vscode-test/**
.github/**
.claude/**
.husky/**
src/**
node_modules/**
.gitignore
.yarnrc
biome.json
vsc-extension-quickstart.md
**/tsconfig.json
**/rspack.config.*
**/vitest.config.*
**/postcss.config.*
**/tailwind.config.*
**/*.map
**/*.ts
**/.vscode-test.*
AGENTS.md
CLAUDE.md
packages/**
scripts/**
pnpm-workspace.yaml
tsconfig.base.json
.npmrc
